<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path("app_company_dashboard") }}">
            PASDEBOL 1.0
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">

            {% if app.user %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>
                <span>
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-danger btn-sm">Déconnexion ({{ app.user.email }})</a>
                </span>
            {% else %}
                <span>
                    <a href="{{ path('app_login') }}" class="btn btn-outline-primary btn-sm">Connexion</a>
                </span>
            {% endif %}
        </div>


    </div>
</nav>
